<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <style>
      body {
        background-color: rgb(29, 37, 181);
        text-align: center; /* to center text */
      }
    </style>
  </head>
  <body>
    <h1>About Us</h1>
    <p>We are a group of four individuals dedicated to making a way for you to interact and manage your company with the click of a button. Our team of experts is there to walk you through how to get your company set up today.</p>
    <img src="pic_logo.jpg" alt="logo">
    <a href="Insert Link">
      <button>Back To Homepage</button>
    </a>
  </body>
</html>

