<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
     <style>
      body {
         background-color: rgb(29,37, 181);
      }
   </style>
</head>
<body>
<h1><center>About Us</center></h1>
<div><center>We are a group of four indivuals dedicated on making a way for you to interact and mange your company with the click of a button. Our team of experts are there to walk you through how to get your company set up today.</center> </div>
<center><img src="pic_logo.jpg" alt="logo" ></center>
</body>
<a href="Insert Link">
   <center><button>Back To Homepage</button></center>
</a>
</html>
