<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
    <!-- Web design tutorials I was learning from recommended using these -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Asset Profile</h1>
        <form action="{{ url_for('render_asset_delete_page', assetid=assetid) }}" method="GET" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete asset</button>
        </form>

        
        <form action="{{ url_for('update_asset', assetid=user[0]) }}" method="POST">
            <div class="form-group">
                <label>Asset Owner:</label>
                <input type="text" name="assetOwner" value="{{ user[1] }}" readonly class="form-control">
            </div>
            <div class="form-group">
                <label>Asset Name:</label>
                <input type="text" name="assetName" value="{{ user[2] }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Location:</label>
                <input type="text" name="location" value="{{ user[3] }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Asset Count:</label>
                <input type="email" name="assetCount" value="{{ user[4] }}" class="form-control">
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
   
