<!DOCTYPE html>
<html>
<title>About Us</title>
<head>
     <style>
      body {
         background-color: rgb(29,37, 181);
      }
   </style> 
</head>
<body>
<h1><center>Manual</center></h1>
<h2>Permissions</h2>
<h3>Admin</h3>
<div>The Admin has full control over the entire system and can use all listed features below.</div>
<h3>Users</h3>
<div>The Users can only modify their acocunts an search for other users by default.</div>
<h2>Accounts</h2>
<h3>Create Account</h3>
<div>Admin can click on the create account button to create accounts by filling out all the nessesary fields.</div>
<h3>Delete Account</h3>
<div>An admin can delete accounts using the delete account button and verifying their action by clicking confirm.</div>
<h3>Modify Account</h3>
<div>Any User can modify thier own account by clicking the fields, changing the information in them, and clicking confirm.</div>
<H2>Inventory</H2>
<h3>Create Asset</h3>
<div>By clicking the create asset button an admin can fill out the fields and create a trackable asset.</div>
<h3>Delete Asset</h3>
<div>By clicking the deletre and confirm button an asset no longer needed in use can be deleted.</div>
<h3>Modify Asset</h3>
<div>By clicking on an asset field and updating an asset can be modified.</div>
<center><img src="pic_logo.jpg" alt="logo" ></center>
</body>
<a href="Insert Link">
   <center><button>Back To Homepage</button></center>
</a>
</html>
